@import "./src/scss/parts/vars";
@import "./src/scss/parts/classes";
@import "rectangles";

.benefits {
    position: relative;
    padding: 5.2rem 0 4.2rem;
    overflow: hidden;

    &__line {
        position: absolute;
        height: 5px;
        left: 0;
        top: 0;
        width: 100%;
        background-color: $yellow;
        z-index: 2;
    }

    &__container {
    }

    &__title {
        @extend %title2;
        @extend %scroll;
        line-height: 1.2;
    }

    &__content {
        margin-top: 4.4rem;
        display: flex;
        justify-content: flex-end;
    }

    &__column {
        flex: 0 0 50%;
    }

    &__list {
    }
}

.benefits-list {
    margin: -3rem 0;
    &__item {
        padding: 3rem 0;
        position: relative;
        
        @extend %scroll;
    }
    &__number {
        @extend %anek;
        position: absolute;
        font-size: 4.4rem;
        left: 0;
        top: 0;
        transform: translate(calc(-100% - 1rem), 2.6rem);
    }
    &__title {
        @extend %title3;
        line-height: 1.2;
    }
    &__text {
        @extend %text20;

        margin-top: 1.1rem;
        width: 27rem;
        line-height: 1.2em;
    }
}
