.news {
    padding: 7rem 0 5rem;

    &__container {
        margin-left: calc((100vw - 1100px) / 2);
        width: calc(1100px + calc((100vw - 1100px) / 2) - 1rem);
        overflow: hidden;
        max-width: 1300px;
    }
    &__title {
        @extend %title2;
        @extend %scroll;
    }
    &__swiper {
        margin-top: 3.4rem;
    }
}

.news-swiper {
    position: relative;
    &__wrapper {
    }
    &__slide {
    }

    &__navigation {
        margin-top: 5rem;
        display: flex;
    }

    &__arrow {
        width: 5.7rem;
        height: 2.1rem;
        position: relative;
        cursor: pointer;

        &_next {
            transform: rotate(180deg);
            margin-left: 1.5rem;
        }

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            left: 0;
            top: 0;
            transition: all ease 0.3s;

            &:last-child {
                opacity: 0;
            }
        }

        @media (hover: hover) {
            &:hover {
                & img {
                    &:last-child {
                        opacity: 1;
                    }
                }
            }
        }

        &:active {
            & img {
                &:last-child {
                    opacity: 1;
                }
            }
        }
    }
}

.news-swiper-slide {
    background-color: #d9d9d9;
    padding: 1.4rem;

    &__content {
    }
    &__title {
        font-size: 1.1rem;
        font-weight: 500;
        font-family: $fontfamily;
        color: $bgcolor;
    }
    &__img {
        width: 100%;
        height: 200px;
        position: relative;
        margin-top: 1.5rem;
        display: block;
        background-color: #fff;

        & img {
            position: absolute;
            width: 101%;
            height: 101%;
            object-fit: cover;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all ease 0.3s;
        }

        &:hover {
            & img {
                transform: translate(-50%, -50%) scale(1.01);
            }
        }
    }
    &__button-wrap {
        margin-top: 1rem;
    }
    &__button {
        @extend %button;
        display: inline-block;
        color: $bgcolor;
        border-color: $bgcolor;

        &::after {
            background-color: $bgcolor;
        }
        
        &:visited {
            color: $bgcolor;
        }

        &:hover {
            color: white;

            &::after {
                background-color: $bgcolor;
            }
        }
        
        
    }
}
