@import "./src/scss/parts/vars";
@import "./src/scss/parts/classes";

.projects {
    background-color: #fff;
    padding: 4rem 0 3.5rem;
    overflow: hidden;
    &__container {
        padding-bottom: 1rem;
        overflow: hidden;
        @extend %scroll;
        transform: none;
    }
    &__wrapper {
    }
    &__slider {
    }
}

.projects-swiper {
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem;

    &__wrapper {
    }
    &__slide {
    }
    &__img {
        height: 24.5rem;
        position: relative;
        overflow: hidden;
        transition: all ease 0.3s;
        display: block;
        cursor: pointer;

        &:hover {
            transform: scale(0.99);
        }

        & img {
            position: absolute;
            width: auto;
            height: 100%;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
    &__pagination {
        bottom: 0;
        transform: translateY(50%);
        display: flex;
        justify-content: center;
        z-index: 2;
    }

    .swiper-pagination-bullet {
        width: 0.72rem;
        height: 0.72rem;
        margin-right: 1.15rem;
        background: $bgcolor;
        opacity: 1;
        transition: all ease 0.3s;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: darken($yellow, 20%);
        }

        &-active {
            background-color: $yellow;

            &:hover {
                background-color: $yellow;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
    &__arrow {
        position: absolute;
        flex-grow: 0;
        cursor: pointer;
        bottom: 0;
        left: 1rem;
        transform: translateY(-1rem);
        z-index: 2;

        @media (max-width: 410px) {
            left: 0;
        }

        &_next {
            transform: translateY(-1rem) rotate(180deg);
            right: 1rem;
            left: auto;

            @media (max-width: 410px) {
                right: 0;
            }
        }

        & img {
            height: auto;
            left: 0;
            top: 50%;
            transition: all ease 0.4s;
            position: absolute;
            width: 5rem;
            transform: translateY(-50%);

            &:nth-child(2) {
                opacity: 0;
            }
        }

        @media (hover: hover) {
            &:hover {
                & img {
                    opacity: 0;

                    &:nth-child(2) {
                        opacity: 1;
                    }
                }
            }
        }

        &:active {
            & img {
                opacity: 0;

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }

        &:after {
            display: none;
        }
    }

    &__button-wrap {
        margin-top: 1.9rem;
        display: flex;
        justify-content: center;
        margin-bottom: 2.2rem;
    }

    &__button {
        @extend %button;
        display: inline-block;
        & span {
            color: $bgcolor;
        }

        &:hover {
            color: $bgcolor;
        }
        border-color: $bgcolor;
    }
}
