.header {
    position: fixed;
    left: 50%;
    top: 7px;
    transform: translateX(-50%);
    width: 100%;
    z-index: 3;

    &__wrapper {
        height: 4rem;
    }
    &__container {
        height: 100%;
    }
    &__columns {
        display: flex;
        align-items: center;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        padding: 0 1.17rem;
    }
    &__column {
        flex-grow: 1;

        &:nth-child(2) {
            flex-grow: 0;
        }

        &:last-child {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        
        @extend %scroll;
        transform: none;
        transition: opacity ease .3s;
    }
    &__logos {
    }
    &__nav {
    }
    &__links {
    }
    &__button {
        @extend %button;
        
        color: $bgcolor;
        border-color: $bgcolor;
        
        &::after {
            background-color: $bgcolor;
        }
        
        &:visited {
            color: $bgcolor;
        }
        
        &:hover {
            color: white;
            &:visited {
                color: white;
            }
            
            &::after {
                background-color: $bgcolor;
            }
        }
    }
}

.header-logos {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;

    &__logo {
        position: relative;
        width: 2.1rem;
        height: 2.8rem;

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            left: 0;
            top: 0;
        }
    }

    &__text {
        padding-left: 1.15rem;
        font-family: $anek;
        font-size: 1.17rem;
        letter-spacing: 0.4em;
        font-weight: 600;
        position: relative;
        transform: translateY(5px);
        transition: all ease 0.3s;
        color: $bgcolor;
    }

    &:hover {
        .header-logos__text {
            // color: darken($yellow, 37%);
            color: $yellow;
        }
    }
}

.header-links {
    display: flex;
    align-items: center;
    margin: 0 -1.4rem;

    &__item {
        padding: 0 1.4rem;
    }
    &__link {
        display: inline-block;
        font-size: .9rem;
        letter-spacing: 0.05em;
        transition: all ease 0.3s;
        color: $bgcolor;

        &:visited {
            color: $bgcolor;
        }

        &:hover {
            // color: darken($yellow, 35%);
            color: $yellow;
        }
    }
}

.main-page {
    .header {
        &__columns {
            background-color: rgba(33, 33, 33, 0.8);
        }
        
        &__button {
            @extend %button;
            color: white;
            
            &:hover {
            color: $bgcolor;
            
            &::after {
                background-color: $yellow;
            }
        }
        }
    }

    .header-links {
        &__item {
        }

        &__link {
            color: white;

            &:visited {
                color: white;
            }

            &:hover {
                color: $yellow;
            }
        }
    }

    .header-logos {
        &__text {
            color: white;
        }
        &:hover {
            .header-logos__text {
                color: $yellow;
            }
        }
    }
}
