@import "vars";

%button {
    padding: 0.6rem 1.8rem;
    border: 1px solid #fff;
    font-size: 1rem;
    position: relative;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & span {
        z-index: 4;
        position: relative;
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        opacity: 0;

        background-color: $yellow;
        transition: all ease 0.4s;
        pointer-events: none;
        z-index: 3;
    }

    &:hover, &:active {
        color: black;
        border-color: transparent;

        &::after {
            width: 101%;
            height: 100%;
            opacity: 1;
        }
    }
}

%anek {
    font-family: $anek;
}

%title1 {
    @extend %anek;
    font-weight: 600;
    font-size: 2.8rem;
}

%title2 {
    @extend %anek;
    font-weight: 600;
    font-size: 2.2rem;
}

%title3 {
    @extend %anek;
    font-weight: 700;
    font-size: 1.5rem;
}

%text20 {
    font-size: 1.1rem;
    letter-spacing: 0.07em;
    font-weight: 300;
    font-family: $fontfamily;
}

%scroll {
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: all ease .3s;
    
    &.appear {
        opacity: 1;
        transform: translateY(0);
    }
}
