$mw: 1100px;
$fontfamily: 'Inter', sans-serif;
$fontsize: 16px;
$color: #fff;
$bgcolor: #212121;

$md1: $mw + 12px;
$md2:992.98px;
$md3:767.98px;
$md4:479.98px;

$anek: 'Anek Gurmukhi', sans-serif;

$yellow: #F3E14A;