.services {
    background-color: $yellow;
    padding: 4.7rem 0 8rem;
    
    @media(max-width:750px){
        padding: 4rem 0 4rem;
    }
    
    @media(max-width:500px){
        padding: 4rem 0 3rem;
    }
    
    &__container {
    }
    &__wrapper {
    }
    &__content {
    }
    &__title {
        @extend %title2;
        color: $bgcolor;
        transition: all ease .3s;
        
        &.appear {
            opacity: 1 !important;
        }
    }
    &__list {
        padding: 0 8rem 0 5.3rem;
        margin-top: 4rem;
        
        @media(max-width:700px){
            padding: 0 2rem 0 4rem;
            margin-top: 2rem;
        }
        
        @media(max-width:600px){
            padding: 0;
        }
    }
    &__item {
        @extend %scroll;
        color: $bgcolor;
        margin-bottom: 3.4rem;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        @media(max-width:700px){
            margin-bottom: 2.5rem;
        }
        
        font-family: $anek;
    }
}
.services-item {
    display: flex;
    // align-items: center;
    &__number {
        flex: 0 0 6.8rem;
        font-size: 4.4rem;
        // display: flex;
        // align-items: center;
        margin-bottom: -.9rem;
        // justify-content: center;
        
        @media(max-width:760px){
            flex: 0 0 5.5rem;
            font-size: 4rem;
            font-weight: 400;
        }
    }
    &__text {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.7rem;
    }
}
